* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    height: 100px;
    background-color: #90ee90;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    height: 50px;
    margin: 0;
    background-color: #333333;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    gap: 25px;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap
}

.title {
    width: 33.33%;
    border: 1px solid #65b465;
    padding: 15px;
}


/* Media Query */
/* mobile */
@media screen and (max-width: 414px) {
    .title {
        width: 100%;
        margin: 0 auto;
    }

    ul {
        justify-content: center;
        justify-content: space-evenly;
        padding-left: 0;
    }
}

/* tablet */
@media screen and (min-width: 415px) and (max-width: 768px) {

    ul {
        justify-content: center;
        justify-content: space-evenly;
    } 
}